.container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

.plus-card {
    width: 180px;
    height: 40px;
    border-radius: 36px;
    background: rgba(67, 46, 224, 0.756);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 30px 80px rgba(121, 35, 35, 0.25),
        inset 0 0 0 1px rgba(195, 188, 188, 0.133);
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    transition: 0.25s ease;
    animation: pulse 4s ease-in-out infinite;
}

.plus-card:hover:not(.disabled) {
    transform: translateY(-6px) scale(1.04);
}

.plus-card:active:not(.disabled) {
    transform: scale(0.96);
}

.plus-card.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    animation: none;
}

.plus {
    font-size: 50px;
    font-weight: 10;
    color: rgb(255, 255, 255);
    line-height: 1;
    margin-top: -4px;
}

.text {
    margin-top: 10px;
    color: rgba(244, 235, 235, 0.9);
    font-size: 16px;
    letter-spacing: 0.5px;
}

.counter {

    color: white;
    font-size: 14px;
    opacity: 0.7;
}

.receipts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    /* Список займет все свободное место слева */
    justify-content: flex-end;
    /* Карточки будут прижиматься к кнопке */
}

.receipt-preview-card {
    width: 300px;
    height: 320px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.receipt-img {
    width: 108%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
    display: block;
}

.remove-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 28px;
    height: 28px;
    background: #ff4b4b;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.remove-btn:hover {
    background: #e04343;
}

