@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.header {
    display: flex;
    margin: 10px 15px 20px 15px;
    border-radius: 25px;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px;
    background: radial-gradient(circle at top left, #ffffff, #f2eef3);
    border-radius: 25px;
    position: relative;
}



.logo {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
}

.nav {
    display: flex;
    gap: 30px;
    width: 100%;
    border-bottom: 1px solid #b1a5a5;
}

.nav a {
    text-decoration: none;
    color: #868181;
    font-size: 16px;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

.nav a:hover, .nav a.active {
    color: #9b6bff;
    border-bottom: 3px solid #9b6bff;
}

.user {

    display: flex;
    align-items: center;
    gap: 15px;
}

.AI {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: -13px;
    color: #000000;
    font-size: 40px;
    cursor: pointer;

}

.kalakolchik, .avatar {
    font-size: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-container {
    position: absolute;
    top: 30px;
    right: 40px;
    display: flex;
    align-items: center;
}

.icon-user {
    cursor: pointer;
    font-size: 30px;
    display: flex;
}

.profile-icon {
    vertical-align: middle;
    margin-right: 8px;
    width: 26px;
    height: 20px;

}

.settings-icon, .support-icon, .dark-theme, .history-icon {
    vertical-align: middle;
    margin-right: 8px;
    width: 26px;
    height: 20px;


}

.profile-dropdown {
    position: absolute;
    top: 50px;
    left: -190px;
    width: 280px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    z-index: 1000;
    border: 1px solid #eee;
}

.dropdown-header {
    padding: 5px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #666;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li a, .dropdown-menu li {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}
.top-row {
    width: 100%;
}

.dropdown-menu li:hover {
    background-color: #f5f5f5;
}

.logout {
    color: #ff4d4f !important;
}

