* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    background: #efeef185;
} 

.app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 40px;
}

/* ОБЩАЯ КАРТОЧКА */
.card {
    width: 460px;
    background: #ac72ac4d;


    border-radius: 24px;
    margin-top: -120px;
    padding: 30px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.title {
    margin: 0 0 16px;
    font-size: 30px;
    font-weight: 600;
}

/* ТАБЫ */
.tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.tab {
    padding: 6px 14px;
    border-radius: 999px;
    background: #e6e1ff;
    font-size: 14px;
    cursor: pointer;
}


.tab.active {
    background: #7b61ff;
    color: #fff;
}

/* СЕКЦИИ */
.section {
    margin-bottom: 16px;
}

.section h3 {
    font-size: 14px;
    color: #272525;
    margin-bottom: 8px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 12px 14px;
    border-radius: 16px;
    margin-bottom: 10px;
}

.item-name {
    font-size: 20px;
    font-weight: 500;
}

.item-sub {
    font-size: 12px;
    color: #aaa;
    margin-top: 2px;
}

.badge {
    background: #f0ecff;
    color: #6f5cff;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 999px;
    white-space: nowrap;
}

.fridge-btn {
    margin-top: 8px;
}

.note {
    margin-top: 8px;
    font-size: 11px;
    color: #2c2929;
    text-align: center;
}

.muted {
    color: #999;
}

/* РЕЦЕПТЫ */
.recipe {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding: 12px 14px;
    border-radius: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.recipe:hover {
    transform: scale(1.02);
}

.time {
    color: #aaa;
}

/* КНОПКА */
.btn {
    width: 100%;
    margin-top: 16px;
    padding: 12px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(135deg, #7b61ff, #9b7bff);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.btn2 {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 2000px;
    padding: 12px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(135deg, #7b61ff, #9b7bff);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.hint {
    margin-top: 10px;
    font-size: 12px;
    color: #3f3c3c;
    text-align: center;
}