@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.home-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 95vh;
    background: center/cover url('../assets/milk.png');
    overflow: hidden;
}



.hero {
    position: relative;
    z-index: 2;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.hero h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 80px;
    font-weight: 600; 
    margin-top: -120px;
    color: #733b96;
}

.hero p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 400;
    color: #86648a;
}

.main-btn {
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 20px 100px;
    border-radius: 14px;
    border: none;
    text-decoration: none; 
    color: inherit;
    background: linear-gradient(90deg, #956be8, #a993d8);
    color: white;
}

.subtext {

    margin-bottom: 20px;
    margin-top: 15px;
    padding: 20px 117px;
    border-radius: 14px;
    border: none;
    background: linear-gradient(90deg, #d4d2d7, #f3f1f5);
    color: rgb(0, 0, 0);
    box-shadow: 0 15px 20px -10px rgba(34, 33, 33, 0.5);
}

body {
    margin: 0;
    padding: 0;
}